---
layout: default
---
<div class="component repo">
  <h3 class="name"><i class="fa fa-fw {{ page.icon }}"></i>{{ page.title }}</h3>

  <div class="body">
    <ul class="meta">
      {% if platform_link %}<li><em>Platform:</em> {{ platform_link }}</li>{% endif %}
    </ul>

    <div class="links btn-group">
      {% if page.download_url %}<button class="btn btn-default"><a href="{{ page.download_url }}" class="docs"><i class="fa fa-cloud-download"></i> Download</a></button>{% endif %}
      {% if page.github_url %}<button class="btn btn-default"><a href="{{ page.github_url }}" class="github"><i class="fa fa-github"></i> Github</a></button>{% endif %}
      {% if page.bugs_url %}<button class="btn btn-default"><a href="{{ page.bugs_url }}" class="issues"><i class="fa fa-exclamation-circle"></i> Issues</a></button>{% endif %}
    </div>

    <div class="content">
      {{ content }}
    </div>
  </div>
</div>
