---
layout: default
---

<h1 id="title">{{ page.title }}</h1>

<div class="row with-sidebar">
  <div class="col-md-3 hidden-phone">
    <div class="well sidebar-nav">
      {% if page.author %}
        <div class="author" data-author="{{ page.author }}">
          <a href="#" class="profile-link"><img alt="{{ page.author }}" src="/img/default_avatar.png" class="avatar img-rounded" height="190" width="190"/></a>

          <h3><a href="#" class="profile-link fullname"></a></h3>
          <h4><a href="#" class="profile-link username">{{ page.author }}</a></h4>

          <ul class="meta"></ul>
          <hr/>
        </div>
      {% endif %}

      {% assign sidebar = page.sidebar | default: layout.sidebar %}
      <ul class="nav nav-list sidebar {{sidebar}}">
        {% include sidebar.html type=sidebar %}
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
  <div class="col-md-9">
    {% if page.parent_paths && page.parents %}
      <ul class="breadcrumb">
        {% for path in page.parent_paths %}
          <li><a href="{{ path }}">{{ page.parents[forloop.index0] }}</a> <span class="divider"></span></li>
        {% endfor %}
        <li class="active">{{ page.title }}</li>
      </ul>
    {% endif %}

    {{ content }}

    <div class="related-pages"></div>
  </div><!--/span-->
</div><!--/row-->

